.container {
    max-width: 1120px;
    margin: 6rem auto 5rem;
    padding: 0 2rem;

    hr {
        max-width: 720px;
        margin: 3rem auto;
        color: var(--body);
        opacity: 0.1;
    }
}

.progressBarParent {
    height: 0.2rem;
    background-color: var(--gray-700);
    position: fixed;
    width: 100%;
    max-width: 720px;
    top: 0;
    margin: 5rem auto; 
    border-radius: 2rem;

    box-shadow:0 0.2rem 0.2rem var(--background);
}

.progressBarChild {
    height: 0.2rem;
    background-color: var(--yellow-500);
    // width: 50%;
    border-radius: 2rem;

    transition: all 0.2s;
}

.postHeader {
    margin: 1rem 0 2rem;
    max-width: 720px;
    margin: 0 auto 2.5rem;

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-height: 20rem;
    }

    h1 {
        margin-top: 4.582rem;
    }

    .postDetails {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5625rem;

        time, span {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 0.875rem;
            line-height: 1rem;
            color: var(--info);

            & + span {
                margin-left: 2rem;
            }

            svg {
                margin-right: 0.6562rem;
            }
        }
    }

    .postUpdatedDate {
        font-style: italic;
        font-size: 0.875rem;
        line-height: 1rem;
        color: var(--info);

        margin-top: 1rem;
    }
    
}

.postContent {
    max-width: 720px;
    margin: 4rem auto;

    .subtitle {
        margin-bottom: 2rem;
    }

    .scope{
        color: var(--body);
        margin-bottom: 3rem;

        h1 {
            font-size: 1.75rem;
            color: var(--heading);
            line-height: 2.125rem;
        }

        p, ul {
            margin: 1.5rem 0;
        }
    
        p {
            font-size: 1.125rem;
            color: var(--body);
            line-height: 1.375rem;
            margin-top: 1rem;
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin: 0.5rem 0;
            }
        }

        a {
            text-decoration: underline;
        }

        pre {
            display: block;
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
            background: var(--gray-700);
            border-radius: 1rem;
            text-align: left;
            word-break: normal;
            word-wrap: normal;
            margin-bottom: 1rem;
            overflow: auto;

            scrollbar-color: #bd93f9;
        }

        pre::-webkit-scrollbar {
            width: 1rem;
        }

        pre::-webkit-scrollbar-track {
            background-color: var(--gray-300);
            border-radius: 0.5rem;
        }
          
        pre::-webkit-scrollbar-thumb {
            background-color: var(--cyan-600);
            border-radius: 0.5rem;
        }

        // CODE TO SHADE TEXT AREA
        // &.previewContent {
        //     background: linear-gradient(var(--gray-100), transparent);
        //     background-clip: text;
        //     -webkit-text-fill-color: transparent;
        // }
    }
}

.morePosts {
    max-width: 720px;
    background-color: var(--background);
    margin: 0.5rem auto;

    div {

        display: flex;
        align-items: center;
        justify-content: space-between;



        a {
            border-radius: 1rem;
            max-width: 30%;
            display: flex;
            flex-direction: column;

            padding: 0.5rem;

            span {
                font-size: 1.125rem;
                color: var(--body);
            }

            strong {
                margin-top: 1rem;
                color: var(--highlight);
                right: 0;
            }

            transition: all 0.2s;

            & + a {
                strong {
                    text-align: right;
                }
            }
        }
    
        a:hover {
            background-color: var(--background);
            opacity: 0.7;
        }
    }
    
    
}

.comments {
    max-width: 720px;
    background-color: var(--background);
    margin: 3rem auto;
}